  <nav class="manNav">
    <div class="uppwardNav">
        <div class="leftnav">
        <p>Brand Name</p>
        </div>
        <div class="rightnav">
            {{!-- <a href="/index" target="_main" id="home">Home</a>
            <a href="/login" target="_main" id="login" >Login</a>
            <a href="/logout" target="_main" id="login" class="logout">LogOut</a>
            <a href="/register" target="_main" id="registration">Registration</a>
            <a href="/secret" target="_main"  class="secret">Secret</a>
            <a href="/product" target="_main"  class="create">Product</a>
            <a href="/events" target="_main"  class="create">New Update</a> --}}
        </div>
    </div>
    <div class="downwardNav">
        <h1>Welcome to Your Compant</h1>

    </div>
    </nav>
