<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
 
    <title>Form</title>
</head>
<body>
    {{>navbar}}
     <h1>Its a Home page</h1>

<script src="js/script.js"></script>
 <script>document.querySelector('.Page').style.display="none";</script>
</body>
</html>