<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Reset Password</h1>
  <form action="" method="POST">
    <input placeholder="Set Password" type="password" name="Password" id="password">
    <br>
    <br>
    <input  placeholder="Conform Password" type="password" name="CPassword" id="password">
    <br>
    <input type="submit" value="Reset pssword">
  </form>
</body>
</html>