<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}
   {{#if Err}} 
    <div class="alert alert-danger" role="alert">{{Err}}</div>
   {{/if}}
    <div class="mancontainer">
        <div class="formbody">
            <div id="formname">
                <h2>New Event</h2>
            </div>
            <div id="manform">
                <form action="/secret" method="POST" enctype="multipart/form-data">
                    <div class="formcontent">
                        <input type="text" placeholder="Event Name *" id="EventName" name="EventName" value="">
                        <input type="text" placeholder="Place *" id="place" name="Place" value="">
                    </div>
                    <div class="formData">
                        <div>
                            <input type="date" placeholder="Starting Date " id="StartDate" name="StartDate">Start Date
                        </div>
                        <div>
                            <input type="date" placeholder="Last Date " id="EndDate" name="EndDate">End Date
                        </div>
                    </div>
                    <div class="formcontent">
                        <input type="text" placeholder="Host Name *" id="HostName" name="HostName" value="">
                        <input type="text" placeholder="Place *" id="HostName" name="Institude" value="">
                    </div>
                    <div class="formcontent">
                        <input type="file" name="image" placeholder="Uplode Image" width="48" height="48">
                    </div>
                    <div class="formcontent">
                        <input class="ProductEmail" type="email" placeholder="Email Id*" id="email" name="email"
                            value="">
                        <input type="password" placeholder="Password *" id="password" name="password" value="">
                    </div>
                    <input type="submit" value="Add" class="register">
                </form>
            </div>
        </div>

    </div>
    <script src="js/script2.js"></script>
    <script>
         document.getElementById("home").style.display = "none"
        document.querySelector(".events").style.display = "none"
        const registration = document.querySelector("#registration");
        registration.style.display = 'none';</script>
</body>

</html>